// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Icons
@import '~bootstrap-icons/font/bootstrap-icons';

html {
    background-color: #a3c8db;
}

.shwimg {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 0 !important;
}

.btn-primary {
    color: #fff;
    background-color: #75919f;
    border-color: #75919f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #566c77;
    border-color: #566c77;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #566c77;
    border-color: #566c77;
    box-shadow: 0 0 0 0.1rem rgb(229 213 202);
}

.row {
    margin-right: 0;
    margin-left: 0;
}
.nopadding-inline-start ul {
    padding-inline-start: 0 !important;
}

.card-header {
    font-size: 1.2rem;
    background-color:#a3c8db;
}

.alert, .card {
    border-radius: 0;
}

body, h1, h2, h3, h4, h5, h6, a.h1, a.h2, a.h3, a.h4, a.h5, a.h6, p {
    font-family: 'Nunito', serif;
    color: #2f5264 !important;
}

body, .form-control {
    //font-size: 1.1rem;
}

.drag {
    cursor: move;
}

.block_list {
    border: 2px solid #a3c8db;
    background-color: #ffffff;
    padding-top:13px !important;
    padding-bottom:13px !important;
}


@for $i from 0 through 9 {
    div[data-rowid='#{$i}'] {
        $percent: calc(100% - (#{$i} * 7%));
        background-color: rgb(163 200 219 / $percent );
        padding-top:10px !important;
        padding-bottom:10px !important;
        border: 5px solid #a3c8db !important;
    }
}


@media (min-width: 1200px) {
    nav > .container, nav > .container-sm, nav > .container-md, nav > .container-lg, nav > .container-xl,
    main > .container, main > .container-sm, main > .container-md, main > .container-lg, main > .container-xl {
        max-width: 1800px !important;
    }

    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 100%;
    }
}


